# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                           @backstage/maintainers
*.md                        @janus-idp/maintainers-docs
*/yarn.lock                 @janus-idp/maintainers-plugins
/plugins/3scale-backend/    @janus-idp/maintainers-plugins @fmenesesg
/plugins/feedback           @yashoswalyo
/plugins/feedback-backend   @yashoswalyo
/plugins/jfrog-artifactory/ @janus-idp/maintainers-plugins @fmenesesg
/plugins/quay/              @janus-idp/maintainers-plugins @fmenesesg
/plugins/rbac-backend/      @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/       @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/tekton/            @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/topology/          @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
yarn.lock                   @janus-idp/maintainers-plugins
